@use '../../sass/breakpoints';

.main-container {
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@include breakpoints.desktop {
    .main-container {
        padding: 16px;
        margin: 0 17.5vw;
    }
}