.caption {
    font-weight: 700;
    margin-bottom: 8px;
}

.show-fields-button {
    font-size: 0.70em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--foreground);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.95);
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
}

.info {
    margin-bottom: 8px;
}

.show-fields-button:hover {
    color: var(--background);
    background-color: var(--foreground);
}